In [5]:
# libraries
import numpy as np # used for handling numbers
import pandas as pd # used for handling the dataset
from sklearn.impute import SimpleImputer # used for handling missing data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder # used for encoding categorical data
from sklearn.model_selection import train_test_split # used for splitting training and testing data
from sklearn.preprocessing import StandardScaler # used for feature scaling

In [8]:
dataset = pd.read_csv('Data.csv') # to import the dataset into a variable

In [9]:
dataset

,SHIPMT_ID,ORIG_STATE,ORIG_MA,ORIG_CFS_AREA,DEST_STATE,DEST_MA,DEST_CFS_AREA,NAICS,QUARTER,SCTG,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_GC,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,EXPORT_YN,EXPORT_CNTRY,HAZMAT,WGT_FACTOR
0,1,25,148,25-148,25,148,25-148,333,2,35,14,2178,11,14,17,N,N,N,N,208.5
1,2,42,428,42-428,6,41740,06-41740,311,3,35,14,344,11,2344,2734,N,N,N,N,193.3
2,3,26,220,26-220,47,314,47-314,322,2,27,4,4197,5134,470,579,N,N,N,N,51.2
3,4,20,556,20-556,20,556,20-556,323,1,29,4,116,6,3,3,N,N,N,N,238.7
4,5,12,99999,12-99999,12,99999,12-99999,4235,3,33,5,388,527,124,201,N,N,N,N,398.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048571,41,440,41-440,41,440,41-440,311,2,7,5,2364,1109,46,58,N,N,N,N,202.2
1048571,1048572,18,294,18-294,48,99999,48-99999,322,1,28,4,504,245,840,1015,N,N,N,N,90.6
1048572,1048573,29,476,29-476,22,406,22-406,4243,2,30,14,269,13,595,669,N,N,N,N,85.8
1048573,1048574,48,41700,48-41700,48,288,48-288,4541,3,21,14,244,1,179,203,N,N,N,N,12613.7
1048574,1048575,9,408,09-408,48,288,48-288,311,4,6,4,3260,1106,1470,1716,Y,N,N,N,41.8

In [10]:
print(dataset.describe())

          SHIPMT_ID    ORIG_STATE       ORIG_MA    DEST_STATE       DEST_MA  \
count  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06
mean   5.242880e+05  2.910901e+01  3.841009e+04  2.886874e+01  4.028021e+04
std    3.026977e+05  1.549151e+01  4.689724e+04  1.568225e+01  4.716945e+04
min    1.000000e+00  0.000000e+00  0.000000e+00  1.000000e+00  1.040000e+02
25%    2.621445e+05  1.700000e+01  3.120000e+02  1.700000e+01  3.320000e+02
50%    5.242880e+05  2.900000e+01  4.760000e+02  2.900000e+01  4.880000e+02
75%    7.864315e+05  4.200000e+01  9.999900e+04  4.200000e+01  9.999900e+04
max    1.048575e+06  5.600000e+01  9.999900e+04  5.600000e+01  9.999900e+04

              NAICS       QUARTER          MODE  SHIPMT_VALUE   SHIPMT_WGHT  \
count  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06
mean   7.124274e+03  2.444572e+00  7.124339e+00  1.764577e+04  3.829649e+04
std    4.666844e+04  1.107420e+00  4.274800e+00  9.625994e+05  9.973350e+05
min    2.120000e+02  1.000000e+00  0.000000e+00  1.000000e+00  1.000000e+00
25%    3.260000e+02  1.000000e+00  4.000000e+00  1.750000e+02  1.500000e+01
50%    3.390000e+02  2.000000e+00  5.000000e+00  8.710000e+02  2.710000e+02
75%    4.241000e+03  3.000000e+00  1.400000e+01  6.032000e+03  8.130000e+03
max    5.511140e+05  4.000000e+00  1.010000e+02  5.212778e+08  2.770296e+08

       SHIPMT_DIST_GC  SHIPMT_DIST_ROUTED    WGT_FACTOR
count    1.048575e+06        1.048575e+06  1.048575e+06
mean     3.859293e+02        4.749082e+02  2.326739e+03
std      5.740755e+02        6.864275e+02  1.952727e+04
min      1.000000e+00        1.000000e+00  2.000000e-01
25%      1.700000e+01        2.100000e+01  9.310000e+01
50%      1.100000e+02        1.390000e+02  2.896000e+02
75%      5.380000e+02        6.860000e+02  9.963000e+02
max      5.210000e+03        6.857000e+03  9.750000e+05

In [11]:
print(dataset.head(20))

    SHIPMT_ID  ORIG_STATE  ORIG_MA ORIG_CFS_AREA  DEST_STATE  DEST_MA  \
0           1          25      148        25-148          25      148
1           2          42      428        42-428           6    41740
2           3          26      220        26-220          47      314
3           4          20      556        20-556          20      556
4           5          12    99999      12-99999          12    99999
5           6          24    47900      24-47900          30    99999
6           7          19    99999      19-99999          19    99999
7           8           6    41740      06-41740           6    99999
8           9          19    99999      19-99999          19    99999
9          10          13    99999      13-99999          13    99999
10         11          55    99999      55-99999          36      464
11         12          39      184        39-184          42    99999
12         13          33      148        33-148          34      408
13         14          31    99999      31-99999          31    99999
14         15          26    99999      26-99999          27    99999
15         16          39    99999      39-99999          39      198
16         17          54    99999      54-99999          51    99999
17         18          32      332        32-332           6    99999
18         19          42      428        42-428          48      288
19         20           9      408        09-408          47      400

   DEST_CFS_AREA  NAICS  QUARTER SCTG  MODE  SHIPMT_VALUE  SHIPMT_WGHT  \
0         25-148    333        2   35    14          2178           11
1       06-41740    311        3   35    14           344           11
2         47-314    322        2   27     4          4197         5134
3         20-556    323        1   29     4           116            6
4       12-99999   4235        3   33     5           388          527
5       30-99999    337        2   40     4          3716         1132
6       19-99999    337        3   26     5         43738        13501
7       06-99999   4239        1   40    14            77            4
8       19-99999    327        3   31     5           338        12826
9       13-99999   4237        2   34     5           145           22
10        36-464    333        2   35    14           482            1
11      42-99999    325        2   20     4          7543         3960
12        34-408   4234        1   21    14          1159            3
13      31-99999    325        1    4     4          1422        49037
14      27-99999    332        3   33    14            52           11
15        39-198    339        4   36    14           283           30
16      51-99999    321        2   25     6         21303        65994
17      06-99999   4232        4   30    14           461          110
18        48-288    334        2   35    14           577            6
19        47-400    332        2   34     4           125            3

    SHIPMT_DIST_GC  SHIPMT_DIST_ROUTED TEMP_CNTL_YN EXPORT_YN EXPORT_CNTRY  \
0               14                  17            N         N            N
1             2344                2734            N         N            N
2              470                 579            N         N            N
3                3                   3            N         N            N
4              124                 201            N         N            N
5             1942                2265            N         Y            C
6               16                  22            N         N            N
7              272                 306            N         N            N
8               10                  15            N         N            N
9               21                  28            N         N            N
10             536                 834            N         N            N
11             105                 143            N         N            N
12             218                 241            N         N            N
13              14                  14            N         N            N
14             463                 582            N         N            N
15              57                  66            N         N            N
16             138                 242            N         N            N
17             328                 520            N         N            N
18            1311                1522            N         N            N
19             802                 945            N         N            N

   HAZMAT  WGT_FACTOR
0       N       208.5
1       N       193.3
2       N        51.2
3       N       238.7
4       N       398.1
5       N        21.9
6       N       310.5
7       N       138.5
8       N      2695.9
9       N       489.1
10      N       194.9
11      N        77.2
12      N       570.2
13      N       535.2
14      N      3114.7
15      N        41.1
16      N        36.4
17      N      1052.8
18      N       278.1
19      N      7869.9

In [12]:
dataset.isnull()

,SHIPMT_ID,ORIG_STATE,ORIG_MA,ORIG_CFS_AREA,DEST_STATE,DEST_MA,DEST_CFS_AREA,NAICS,QUARTER,SCTG,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_GC,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,EXPORT_YN,EXPORT_CNTRY,HAZMAT,WGT_FACTOR
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1048571,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1048572,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1048573,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1048574,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [13]:
print(dataset.isnull().sum())

SHIPMT_ID             0
ORIG_STATE            0
ORIG_MA               0
ORIG_CFS_AREA         0
DEST_STATE            0
DEST_MA               0
DEST_CFS_AREA         0
NAICS                 0
QUARTER               0
SCTG                  0
MODE                  0
SHIPMT_VALUE          0
SHIPMT_WGHT           0
SHIPMT_DIST_GC        0
SHIPMT_DIST_ROUTED    0
TEMP_CNTL_YN          0
EXPORT_YN             0
EXPORT_CNTRY          0
HAZMAT                0
WGT_FACTOR            0
dtype: int64

In [16]:
dataset.mode()

,SHIPMT_ID,ORIG_STATE,ORIG_MA,ORIG_CFS_AREA,DEST_STATE,DEST_MA,DEST_CFS_AREA,NAICS,QUARTER,SCTG,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_GC,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,EXPORT_YN,EXPORT_CNTRY,HAZMAT,WGT_FACTOR
0,1,6.0,99999.0,06-348,6.0,99999.0,06-348,325.0,1.0,35,5.0,5.0,1.0,3.0,3.0,N,N,N,N,17.6
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,1048572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,1048573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,1048574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,1048575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
missed_replaced_internet_dataSet = dataset

In [ ]:
missed_replaced_internet_dataSet['Online_Gaming'].fillna('N',inplace = True)