In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv('~\Capestone\Capestone_DataSet\cfs-2012-pumf-csv\cfs_2012_pumf_csv.txt')

In [5]:
df.head()

,SHIPMT_ID,ORIG_STATE,ORIG_MA,ORIG_CFS_AREA,DEST_STATE,DEST_MA,DEST_CFS_AREA,NAICS,QUARTER,SCTG,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_GC,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,EXPORT_YN,EXPORT_CNTRY,HAZMAT,WGT_FACTOR
0,1,25,148,25-148,25,148,25-148,333,2,35,14,2178,11,14,17,N,N,N,N,208.5
1,2,42,428,42-428,6,41740,06-41740,311,3,35,14,344,11,2344,2734,N,N,N,N,193.3
2,3,26,220,26-220,47,314,47-314,322,2,27,4,4197,5134,470,579,N,N,N,N,51.2
3,4,20,556,20-556,20,556,20-556,323,1,29,4,116,6,3,3,N,N,N,N,238.7
4,5,12,99999,12-99999,12,99999,12-99999,4235,3,33,5,388,527,124,201,N,N,N,N,398.1

In [158]:
# SHIPMT_ID as index
df.set_index('SHIPMT_ID',inplace=True)

In [159]:
df.head()

,ORIG_STATE,ORIG_MA,ORIG_CFS_AREA,DEST_STATE,DEST_MA,DEST_CFS_AREA,NAICS,QUARTER,SCTG,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_GC,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,EXPORT_YN,EXPORT_CNTRY,HAZMAT,WGT_FACTOR
SHIPMT_ID,,,,,,,,,,,,,,,,,,,
1,25,148,25-148,25,148,25-148,333,2,35,14,2178,11,14,17,N,N,N,N,208.5
2,42,428,42-428,6,41740,06-41740,311,3,35,14,344,11,2344,2734,N,N,N,N,193.3
3,26,220,26-220,47,314,47-314,322,2,27,4,4197,5134,470,579,N,N,N,N,51.2
4,20,556,20-556,20,556,20-556,323,1,29,4,116,6,3,3,N,N,N,N,238.7
5,12,99999,12-99999,12,99999,12-99999,4235,3,33,5,388,527,124,201,N,N,N,N,398.1

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4547661 entries, 1 to 4547661
Data columns (total 19 columns):
 #   Column              Dtype
---  ------              -----
 0   ORIG_STATE          int64
 1   ORIG_MA             int64
 2   ORIG_CFS_AREA       object
 3   DEST_STATE          int64
 4   DEST_MA             int64
 5   DEST_CFS_AREA       object
 6   NAICS               int64
 7   QUARTER             int64
 8   SCTG                object
 9   MODE                int64
 10  SHIPMT_VALUE        int64
 11  SHIPMT_WGHT         int64
 12  SHIPMT_DIST_GC      int64
 13  SHIPMT_DIST_ROUTED  int64
 14  TEMP_CNTL_YN        object
 15  EXPORT_YN           object
 16  EXPORT_CNTRY        object
 17  HAZMAT              object
 18  WGT_FACTOR          float64
dtypes: float64(1), int64(11), object(7)
memory usage: 693.9+ MB

In [161]:
# unique values in a column
df['DEST_STATE'].unique()

array([25,  6, 47, 20, 12, 30, 19, 13, 36, 42, 34, 31, 27, 39, 51, 48, 37,
       55, 17, 49, 44, 18, 29,  1, 26,  9, 54, 32, 38, 40, 23, 45, 28,  8,
       56,  4, 53, 21, 24, 33, 41,  2,  5, 22, 46, 16, 15, 35, 50, 10, 11],
      dtype=int64)

In [162]:
# number of unique values
df[['ORIG_STATE', 'ORIG_MA', 'ORIG_CFS_AREA', 'DEST_STATE', 'DEST_MA',
       'DEST_CFS_AREA', 'NAICS', 'QUARTER', 'SCTG', 'MODE', 'TEMP_CNTL_YN',
       'EXPORT_YN', 'EXPORT_CNTRY', 'HAZMAT']].nunique()

ORIG_STATE        52
ORIG_MA           72
ORIG_CFS_AREA    169
DEST_STATE        51
DEST_MA           71
DEST_CFS_AREA    132
NAICS             45
QUARTER            4
SCTG              52
MODE              21
TEMP_CNTL_YN       2
EXPORT_YN          2
EXPORT_CNTRY       4
HAZMAT             3
dtype: int64

In [99]:
df.columns

Index(['ORIG_STATE', 'ORIG_MA', 'ORIG_CFS_AREA', 'DEST_STATE', 'DEST_MA',
       'DEST_CFS_AREA', 'NAICS', 'QUARTER', 'SCTG', 'MODE', 'SHIPMT_VALUE',
       'SHIPMT_WGHT', 'SHIPMT_DIST_GC', 'SHIPMT_DIST_ROUTED', 'TEMP_CNTL_YN',
       'EXPORT_YN', 'EXPORT_CNTRY', 'HAZMAT', 'WGT_FACTOR'],
      dtype='object')

In [163]:
# converting integers to string/object
df[['ORIG_STATE', 'ORIG_MA', 'ORIG_CFS_AREA', 'DEST_STATE','DEST_MA', 'DEST_CFS_AREA', 'NAICS', 
   'QUARTER', 'SCTG', 'MODE','TEMP_CNTL_YN', 'EXPORT_YN', 'EXPORT_CNTRY', 'HAZMAT']]=df[['ORIG_STATE', 'ORIG_MA', 'ORIG_CFS_AREA', 'DEST_STATE','DEST_MA', 'DEST_CFS_AREA', 'NAICS', 
   'QUARTER', 'SCTG', 'MODE','TEMP_CNTL_YN', 'EXPORT_YN', 'EXPORT_CNTRY', 'HAZMAT']].astype(str)

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4547661 entries, 1 to 4547661
Data columns (total 19 columns):
 #   Column              Dtype
---  ------              -----
 0   ORIG_STATE          object
 1   ORIG_MA             object
 2   ORIG_CFS_AREA       object
 3   DEST_STATE          object
 4   DEST_MA             object
 5   DEST_CFS_AREA       object
 6   NAICS               object
 7   QUARTER             object
 8   SCTG                object
 9   MODE                object
 10  SHIPMT_VALUE        int64
 11  SHIPMT_WGHT         int64
 12  SHIPMT_DIST_GC      int64
 13  SHIPMT_DIST_ROUTED  int64
 14  TEMP_CNTL_YN        object
 15  EXPORT_YN           object
 16  EXPORT_CNTRY        object
 17  HAZMAT              object
 18  WGT_FACTOR          float64
dtypes: float64(1), int64(4), object(14)
memory usage: 693.9+ MB

In [165]:
# dropping columns ORIG_CFS_AREA & DEST_CFS_AREA

df.drop(['ORIG_CFS_AREA','DEST_CFS_AREA'],axis=1,inplace=True)

In [166]:
df.head()

,ORIG_STATE,ORIG_MA,DEST_STATE,DEST_MA,NAICS,QUARTER,SCTG,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_GC,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,EXPORT_YN,EXPORT_CNTRY,HAZMAT,WGT_FACTOR
SHIPMT_ID,,,,,,,,,,,,,,,,,
1,25,148,25,148,333,2,35,14,2178,11,14,17,N,N,N,N,208.5
2,42,428,6,41740,311,3,35,14,344,11,2344,2734,N,N,N,N,193.3
3,26,220,47,314,322,2,27,4,4197,5134,470,579,N,N,N,N,51.2
4,20,556,20,556,323,1,29,4,116,6,3,3,N,N,N,N,238.7
5,12,99999,12,99999,4235,3,33,5,388,527,124,201,N,N,N,N,398.1

In [167]:
# SCTG column, 01-05, 06-09, 10-14, 15-19, 20-24, 25-30, 31-34, 39-99
df.groupby('SCTG').count()

,ORIG_STATE,ORIG_MA,DEST_STATE,DEST_MA,NAICS,QUARTER,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_GC,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,EXPORT_YN,EXPORT_CNTRY,HAZMAT,WGT_FACTOR
SCTG,,,,,,,,,,,,,,,,
00,691,691,691,691,691,691,691,691,691,691,691,691,691,691,691,691
01,2239,2239,2239,2239,2239,2239,2239,2239,2239,2239,2239,2239,2239,2239,2239,2239
01-05,1458,1458,1458,1458,1458,1458,1458,1458,1458,1458,1458,1458,1458,1458,1458,1458
02,24965,24965,24965,24965,24965,24965,24965,24965,24965,24965,24965,24965,24965,24965,24965,24965
03,54265,54265,54265,54265,54265,54265,54265,54265,54265,54265,54265,54265,54265,54265,54265,54265
04,45617,45617,45617,45617,45617,45617,45617,45617,45617,45617,45617,45617,45617,45617,45617,45617
05,62355,62355,62355,62355,62355,62355,62355,62355,62355,62355,62355,62355,62355,62355,62355,62355
06,53265,53265,53265,53265,53265,53265,53265,53265,53265,53265,53265,53265,53265,53265,53265,53265
06-09,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267
07,183021,183021,183021,183021,183021,183021,183021,183021,183021,183021,183021,183021,183021,183021,183021,183021
08,98947,98947,98947,98947,98947,98947,98947,98947,98947,98947,98947,98947,98947,98947,98947,98947
09,16864,16864,16864,16864,16864,16864,16864,16864,16864,16864,16864,16864,16864,16864,16864,16864
10,5883,5883,5883,5883,5883,5883,5883,5883,5883,5883,5883,5883,5883,5883,5883,5883
10-14,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437
11,29142,29142,29142,29142,29142,29142,29142,29142,29142,29142,29142,29142,29142,29142,29142,29142
12,94363,94363,94363,94363,94363,94363,94363,94363,94363,94363,94363,94363,94363,94363,94363,94363
13,16795,16795,16795,16795,16795,16795,16795,16795,16795,16795,16795,16795,16795,16795,16795,16795
14,4211,4211,4211,4211,4211,4211,4211,4211,4211,4211,4211,4211,4211,4211,4211,4211
15,11002,11002,11002,11002,11002,11002,11002,11002,11002,11002,11002,11002,11002,11002,11002,11002
15-19,856,856,856,856,856,856,856,856,856,856,856,856,856,856,856,856
17,38588,38588,38588,38588,38588,38588,38588,38588,38588,38588,38588,38588,38588,38588,38588,38588
18,60218,60218,60218,60218,60218,60218,60218,60218,60218,60218,60218,60218,60218,60218,60218,60218
19,133849,133849,133849,133849,133849,133849,133849,133849,133849,133849,133849,133849,133849,133849,133849,133849
20,96474,96474,96474,96474,96474,96474,96474,96474,96474,96474,96474,96474,96474,96474,96474,96474
20-24,1888,1888,1888,1888,1888,1888,1888,1888,1888,1888,1888,1888,1888,1888,1888,1888
21,85890,85890,85890,85890,85890,85890,85890,85890,85890,85890,85890,85890,85890,85890,85890,85890
22,24300,24300,24300,24300,24300,24300,24300,24300,24300,24300,24300,24300,24300,24300,24300,24300
23,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016
24,288078,288078,288078,288078,288078,288078,288078,288078,288078,288078,288078,288078,288078,288078,288078,288078
25,4966,4966,4966,4966,4966,4966,4966,4966,4966,4966,4966,4966,4966,4966,4966,4966
25-30,1854,1854,1854,1854,1854,1854,1854,1854,1854,1854,1854,1854,1854,1854,1854,1854
26,161961,161961,161961,161961,161961,161961,161961,161961,161961,161961,161961,161961,161961,161961,161961,161961
27,61999,61999,61999,61999,61999,61999,61999,61999,61999,61999,61999,61999,61999,61999,61999,61999
28,95548,95548,95548,95548,95548,95548,95548,95548,95548,95548,95548,95548,95548,95548,95548,95548
29,200529,200529,200529,200529,200529,200529,200529,200529,200529,200529,200529,200529,200529,200529,200529,200529
30,213796,213796,213796,213796,213796,213796,213796,213796,213796,213796,213796,213796,213796,213796,213796,213796
31,178753,178753,178753,178753,178753,178753,178753,178753,178753,178753,178753,178753,178753,178753,178753,178753
31-34,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473
32,187159,187159,187159,187159,187159,187159,187159,187159,187159,187159,187159,187159,187159,187159,187159,187159
33,237139,237139,237139,237139,237139,237139,237139,237139,237139,237139,237139,237139,237139,237139,237139,237139
34,265539,265539,265539,265539,265539,265539,265539,265539,265539,265539,265539,265539,265539,265539,265539,265539
35,318586,318586,318586,318586,318586,318586,318586,318586,318586,318586,318586,318586,318586,318586,318586,318586
35-38,919,919,919,919,919,919,919,919,919,919,919,919,919,919,919,919
36,183009,183009,183009,183009,183009,183009,183009,183009,183009,183009,183009,183009,183009,183009,183009,183009
37,46078,46078,46078,46078,46078,46078,46078,46078,46078,46078,46078,46078,46078,46078,46078,46078
38,132035,132035,132035,132035,132035,132035,132035,132035,132035,132035,132035,132035,132035,132035,132035,132035
39,86920,86920,86920,86920,86920,86920,86920,86920,86920,86920,86920,86920,86920,86920,86920,86920
39-99,1190,1190,1190,1190,1190,1190,1190,1190,1190,1190,1190,1190,1190,1190,1190,1190
40,264089,264089,264089,264089,264089,264089,264089,264089,264089,264089,264089,264089,264089,264089,264089,264089
41,41610,41610,41610,41610,41610,41610,41610,41610,41610,41610,41610,41610,41610,41610,41610,41610
43,283551,283551,283551,283551,283551,283551,283551,283551,283551,283551,283551,283551,283551,283551,283551,283551
99,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14

In [168]:
df.sort_values('SCTG')['SCTG'].unique()

array(['00', '01', '01-05', '02', '03', '04', '05', '06', '06-09', '07',
       '08', '09', '10', '10-14', '11', '12', '13', '14', '15', '15-19',
       '17', '18', '19', '20', '20-24', '21', '22', '23', '24', '25',
       '25-30', '26', '27', '28', '29', '30', '31', '31-34', '32', '33',
       '34', '35', '35-38', '36', '37', '38', '39', '39-99', '40', '41',
       '43', '99'], dtype=object)

In [169]:
def SCTG_IND(SCTG):
    if SCTG in ('01', '01-05', '02', '03', '04', '05'):
        return 'AGRI'
    elif SCTG in ('06', '06-09', '07','08', '09'):
        return 'FOOD'
    elif SCTG in ('10', '10-14', '11', '12', '13', '14'): 
        return 'MNRLS'
    elif SCTG in ('15', '15-19','17', '18', '19'):
        return 'FUEL'
    elif SCTG in ('20', '20-24', '21', '22', '23', '24'):
        return 'PLCHM'
    elif SCTG in ('25','25-30', '26', '27', '28', '29', '30'):
        return 'FRPAP'
    elif SCTG in ('31', '31-34', '32', '33', '34'):
        return 'BMETL'
    elif SCTG in ('35', '35-38', '36', '37', '38'):
        return 'TRANS'
    elif SCTG in ('41'):
        return 'WASTE'
    elif SCTG in ('39','40','43','99','39-99'):
        return 'MISC'
    elif SCTG in ('00'):
        return 'SCTG SUPPRESSED'

In [170]:
df['SCTG']=df['SCTG'].apply(SCTG_IND)

In [171]:
df['SCTG'].unique()

array(['TRANS', 'FRPAP', 'BMETL', 'MISC', 'PLCHM', 'AGRI', 'FUEL',
       'MNRLS', 'FOOD', 'WASTE', 'SCTG SUPPRESSED'], dtype=object)

In [176]:
df.head()

,ORIG_STATE,ORIG_MA,DEST_STATE,DEST_MA,NAICS,QUARTER,SCTG,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_GC,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,EXPORT_YN,EXPORT_CNTRY,HAZMAT,WGT_FACTOR
SHIPMT_ID,,,,,,,,,,,,,,,,,
1,25,148,25,148,333,2,TRANS,14,2178,11,14,17,N,N,N,N,208.5
2,42,428,6,41740,311,3,TRANS,14,344,11,2344,2734,N,N,N,N,193.3
3,26,220,47,314,322,2,FRPAP,4,4197,5134,470,579,N,N,N,N,51.2
4,20,556,20,556,323,1,FRPAP,4,116,6,3,3,N,N,N,N,238.7
5,12,99999,12,99999,4235,3,BMETL,5,388,527,124,201,N,N,N,N,398.1

In [192]:
df['EXPORT_YN'].value_counts()

N    4361940
Y     185721
Name: EXPORT_YN, dtype: int64

In [195]:
df['EXPORT_CNTRY'].value_counts()

N    4361940
O     111815
C      54539
M      19367
Name: EXPORT_CNTRY, dtype: int64

In [199]:
df[df['EXPORT_YN']=='Y']

,ORIG_STATE,ORIG_MA,DEST_STATE,DEST_MA,NAICS,QUARTER,SCTG,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_GC,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,EXPORT_YN,EXPORT_CNTRY,HAZMAT,WGT_FACTOR
SHIPMT_ID,,,,,,,,,,,,,,,,,
6,24,47900,30,99999,337,2,MISC,4,3716,1132,1942,2265,N,Y,C,N,21.9
78,39,184,34,408,332,4,MISC,11,796,4,391,1619,N,Y,O,N,3099.9
163,34,408,36,160,326,1,TRANS,4,835,29,290,401,N,Y,C,N,314.6
231,25,148,25,148,336,1,TRANS,11,26455,80,28,42,N,Y,O,N,25.6
284,45,273,36,408,334,1,TRANS,11,28325,1216,615,1061,N,Y,O,N,24.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4547533,6,99999,6,488,312,3,FOOD,4,36853,48640,72,83,N,Y,O,N,1312.1
4547534,8,216,6,348,331,3,BMETL,4,69350,34200,858,1056,N,Y,O,N,23.8
4547540,39,184,26,220,326,3,TRANS,4,8716,2230,70,119,N,Y,C,N,330.8
4547560,6,488,12,370,4238,1,TRANS,14,175,14,2571,3132,N,Y,O,N,3846.2
4547624,29,0,22,406,4245,3,FRPAP,13,58017,22776,603,908,N,Y,O,N,911.8

In [212]:
df.describe()

,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_GC,SHIPMT_DIST_ROUTED,WGT_FACTOR
count,4.547661e+06,4.547661e+06,4.547661e+06,4.547661e+06,4.547661e+06
mean,1.827960e+04,3.758741e+04,3.860863e+02,4.749791e+02,2.311014e+03
std,1.085257e+06,9.657841e+05,5.746514e+02,6.869016e+02,1.934517e+04
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e-01
25%,1.760000e+02,1.500000e+01,1.700000e+01,2.100000e+01,9.300000e+01
50%,8.750000e+02,2.700000e+02,1.100000e+02,1.400000e+02,2.892000e+02
75%,6.026000e+03,8.077000e+03,5.380000e+02,6.850000e+02,9.927000e+02
max,5.212778e+08,2.770296e+08,5.210000e+03,6.932000e+03,9.750000e+05

In [236]:
from scipy.stats import skew
from scipy.stats import kurtosis

In [244]:
skew(df[['SHIPMT_VALUE','SHIPMT_WGHT','SHIPMT_DIST_GC','SHIPMT_DIST_ROUTED','WGT_FACTOR']].dropna())

array([424.59129685,  77.65690212,   2.13232435,   1.97376875,
        37.10715997])

In [247]:
kurtosis(df[['SHIPMT_VALUE','SHIPMT_WGHT','SHIPMT_DIST_GC','SHIPMT_DIST_ROUTED','WGT_FACTOR']].dropna())

array([2.00285665e+05, 1.09254188e+04, 5.00118930e+00, 3.85436002e+00,
       1.73435776e+03])

In [257]:
# NOrmality  test
from scipy import stats
p_value=stats.shapiro(df['SHIPMT_WGHT'].dropna())[1]
if (p_value<=0.05):
    print('Null Hypothesis of normality is rejected')
else:
        print('Null Hypothesis of normality is accepted')

Null Hypothesis of normality is rejected