In [1]:
# libraries
import numpy as np # used for handling numbers
import pandas as pd # used for handling the dataset

In [2]:
dataset = pd.read_csv('cfs_2012_pumf_csv.txt') # to import the dataset into a variable

In [3]:
dataset.head(20)

,SHIPMT_ID,ORIG_STATE,ORIG_MA,ORIG_CFS_AREA,DEST_STATE,DEST_MA,DEST_CFS_AREA,NAICS,QUARTER,SCTG,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_GC,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,EXPORT_YN,EXPORT_CNTRY,HAZMAT,WGT_FACTOR
0,1,25,148,25-148,25,148,25-148,333,2,35,14,2178,11,14,17,N,N,N,N,208.5
1,2,42,428,42-428,6,41740,06-41740,311,3,35,14,344,11,2344,2734,N,N,N,N,193.3
2,3,26,220,26-220,47,314,47-314,322,2,27,4,4197,5134,470,579,N,N,N,N,51.2
3,4,20,556,20-556,20,556,20-556,323,1,29,4,116,6,3,3,N,N,N,N,238.7
4,5,12,99999,12-99999,12,99999,12-99999,4235,3,33,5,388,527,124,201,N,N,N,N,398.1
5,6,24,47900,24-47900,30,99999,30-99999,337,2,40,4,3716,1132,1942,2265,N,Y,C,N,21.9
6,7,19,99999,19-99999,19,99999,19-99999,337,3,26,5,43738,13501,16,22,N,N,N,N,310.5
7,8,6,41740,06-41740,6,99999,06-99999,4239,1,40,14,77,4,272,306,N,N,N,N,138.5
8,9,19,99999,19-99999,19,99999,19-99999,327,3,31,5,338,12826,10,15,N,N,N,N,2695.9
9,10,13,99999,13-99999,13,99999,13-99999,4237,2,34,5,145,22,21,28,N,N,N,N,489.1
10,11,55,99999,55-99999,36,464,36-464,333,2,35,14,482,1,536,834,N,N,N,N,194.9
11,12,39,184,39-184,42,99999,42-99999,325,2,20,4,7543,3960,105,143,N,N,N,N,77.2
12,13,33,148,33-148,34,408,34-408,4234,1,21,14,1159,3,218,241,N,N,N,N,570.2
13,14,31,99999,31-99999,31,99999,31-99999,325,1,04,4,1422,49037,14,14,N,N,N,N,535.2
14,15,26,99999,26-99999,27,99999,27-99999,332,3,33,14,52,11,463,582,N,N,N,N,3114.7
15,16,39,99999,39-99999,39,198,39-198,339,4,36,14,283,30,57,66,N,N,N,N,41.1
16,17,54,99999,54-99999,51,99999,51-99999,321,2,25,6,21303,65994,138,242,N,N,N,N,36.4
17,18,32,332,32-332,6,99999,06-99999,4232,4,30,14,461,110,328,520,N,N,N,N,1052.8
18,19,42,428,42-428,48,288,48-288,334,2,35,14,577,6,1311,1522,N,N,N,N,278.1
19,20,9,408,09-408,47,400,47-400,332,2,34,4,125,3,802,945,N,N,N,N,7869.9

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4547661 entries, 0 to 4547660
Data columns (total 20 columns):
 #   Column              Dtype
---  ------              -----
 0   SHIPMT_ID           int64
 1   ORIG_STATE          int64
 2   ORIG_MA             int64
 3   ORIG_CFS_AREA       object
 4   DEST_STATE          int64
 5   DEST_MA             int64
 6   DEST_CFS_AREA       object
 7   NAICS               int64
 8   QUARTER             int64
 9   SCTG                object
 10  MODE                int64
 11  SHIPMT_VALUE        int64
 12  SHIPMT_WGHT         int64
 13  SHIPMT_DIST_GC      int64
 14  SHIPMT_DIST_ROUTED  int64
 15  TEMP_CNTL_YN        object
 16  EXPORT_YN           object
 17  EXPORT_CNTRY        object
 18  HAZMAT              object
 19  WGT_FACTOR          float64
dtypes: float64(1), int64(12), object(7)
memory usage: 693.9+ MB

In [5]:
dataset.columns

Index(['SHIPMT_ID', 'ORIG_STATE', 'ORIG_MA', 'ORIG_CFS_AREA', 'DEST_STATE',
       'DEST_MA', 'DEST_CFS_AREA', 'NAICS', 'QUARTER', 'SCTG', 'MODE',
       'SHIPMT_VALUE', 'SHIPMT_WGHT', 'SHIPMT_DIST_GC', 'SHIPMT_DIST_ROUTED',
       'TEMP_CNTL_YN', 'EXPORT_YN', 'EXPORT_CNTRY', 'HAZMAT', 'WGT_FACTOR'],
      dtype='object')

In [6]:
# converting integers to string/object
dataset[['ORIG_STATE', 'ORIG_MA', 'ORIG_CFS_AREA', 'DEST_STATE','DEST_MA', 'DEST_CFS_AREA', 'NAICS', 
   'QUARTER', 'SCTG', 'MODE','TEMP_CNTL_YN', 'EXPORT_YN', 'EXPORT_CNTRY', 'HAZMAT']]=dataset[['ORIG_STATE', 'ORIG_MA', 'ORIG_CFS_AREA', 'DEST_STATE','DEST_MA', 'DEST_CFS_AREA', 'NAICS', 
   'QUARTER', 'SCTG', 'MODE','TEMP_CNTL_YN', 'EXPORT_YN', 'EXPORT_CNTRY', 'HAZMAT']].astype(str)

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4547661 entries, 0 to 4547660
Data columns (total 20 columns):
 #   Column              Dtype
---  ------              -----
 0   SHIPMT_ID           int64
 1   ORIG_STATE          object
 2   ORIG_MA             object
 3   ORIG_CFS_AREA       object
 4   DEST_STATE          object
 5   DEST_MA             object
 6   DEST_CFS_AREA       object
 7   NAICS               object
 8   QUARTER             object
 9   SCTG                object
 10  MODE                object
 11  SHIPMT_VALUE        int64
 12  SHIPMT_WGHT         int64
 13  SHIPMT_DIST_GC      int64
 14  SHIPMT_DIST_ROUTED  int64
 15  TEMP_CNTL_YN        object
 16  EXPORT_YN           object
 17  EXPORT_CNTRY        object
 18  HAZMAT              object
 19  WGT_FACTOR          float64
dtypes: float64(1), int64(5), object(14)
memory usage: 693.9+ MB

In [8]:
# SCTG column, 01-05, 06-09, 10-14, 15-19, 20-24, 25-30, 31-34, 39-99
dataset.groupby('SCTG').count()

,SHIPMT_ID,ORIG_STATE,ORIG_MA,ORIG_CFS_AREA,DEST_STATE,DEST_MA,DEST_CFS_AREA,NAICS,QUARTER,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_GC,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,EXPORT_YN,EXPORT_CNTRY,HAZMAT,WGT_FACTOR
SCTG,,,,,,,,,,,,,,,,,,,
00,691,691,691,691,691,691,691,691,691,691,691,691,691,691,691,691,691,691,691
01,2239,2239,2239,2239,2239,2239,2239,2239,2239,2239,2239,2239,2239,2239,2239,2239,2239,2239,2239
01-05,1458,1458,1458,1458,1458,1458,1458,1458,1458,1458,1458,1458,1458,1458,1458,1458,1458,1458,1458
02,24965,24965,24965,24965,24965,24965,24965,24965,24965,24965,24965,24965,24965,24965,24965,24965,24965,24965,24965
03,54265,54265,54265,54265,54265,54265,54265,54265,54265,54265,54265,54265,54265,54265,54265,54265,54265,54265,54265
04,45617,45617,45617,45617,45617,45617,45617,45617,45617,45617,45617,45617,45617,45617,45617,45617,45617,45617,45617
05,62355,62355,62355,62355,62355,62355,62355,62355,62355,62355,62355,62355,62355,62355,62355,62355,62355,62355,62355
06,53265,53265,53265,53265,53265,53265,53265,53265,53265,53265,53265,53265,53265,53265,53265,53265,53265,53265,53265
06-09,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267
07,183021,183021,183021,183021,183021,183021,183021,183021,183021,183021,183021,183021,183021,183021,183021,183021,183021,183021,183021
08,98947,98947,98947,98947,98947,98947,98947,98947,98947,98947,98947,98947,98947,98947,98947,98947,98947,98947,98947
09,16864,16864,16864,16864,16864,16864,16864,16864,16864,16864,16864,16864,16864,16864,16864,16864,16864,16864,16864
10,5883,5883,5883,5883,5883,5883,5883,5883,5883,5883,5883,5883,5883,5883,5883,5883,5883,5883,5883
10-14,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437
11,29142,29142,29142,29142,29142,29142,29142,29142,29142,29142,29142,29142,29142,29142,29142,29142,29142,29142,29142
12,94363,94363,94363,94363,94363,94363,94363,94363,94363,94363,94363,94363,94363,94363,94363,94363,94363,94363,94363
13,16795,16795,16795,16795,16795,16795,16795,16795,16795,16795,16795,16795,16795,16795,16795,16795,16795,16795,16795
14,4211,4211,4211,4211,4211,4211,4211,4211,4211,4211,4211,4211,4211,4211,4211,4211,4211,4211,4211
15,11002,11002,11002,11002,11002,11002,11002,11002,11002,11002,11002,11002,11002,11002,11002,11002,11002,11002,11002
15-19,856,856,856,856,856,856,856,856,856,856,856,856,856,856,856,856,856,856,856
17,38588,38588,38588,38588,38588,38588,38588,38588,38588,38588,38588,38588,38588,38588,38588,38588,38588,38588,38588
18,60218,60218,60218,60218,60218,60218,60218,60218,60218,60218,60218,60218,60218,60218,60218,60218,60218,60218,60218
19,133849,133849,133849,133849,133849,133849,133849,133849,133849,133849,133849,133849,133849,133849,133849,133849,133849,133849,133849
20,96474,96474,96474,96474,96474,96474,96474,96474,96474,96474,96474,96474,96474,96474,96474,96474,96474,96474,96474
20-24,1888,1888,1888,1888,1888,1888,1888,1888,1888,1888,1888,1888,1888,1888,1888,1888,1888,1888,1888
21,85890,85890,85890,85890,85890,85890,85890,85890,85890,85890,85890,85890,85890,85890,85890,85890,85890,85890,85890
22,24300,24300,24300,24300,24300,24300,24300,24300,24300,24300,24300,24300,24300,24300,24300,24300,24300,24300,24300
23,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016
24,288078,288078,288078,288078,288078,288078,288078,288078,288078,288078,288078,288078,288078,288078,288078,288078,288078,288078,288078
25,4966,4966,4966,4966,4966,4966,4966,4966,4966,4966,4966,4966,4966,4966,4966,4966,4966,4966,4966
25-30,1854,1854,1854,1854,1854,1854,1854,1854,1854,1854,1854,1854,1854,1854,1854,1854,1854,1854,1854
26,161961,161961,161961,161961,161961,161961,161961,161961,161961,161961,161961,161961,161961,161961,161961,161961,161961,161961,161961
27,61999,61999,61999,61999,61999,61999,61999,61999,61999,61999,61999,61999,61999,61999,61999,61999,61999,61999,61999
28,95548,95548,95548,95548,95548,95548,95548,95548,95548,95548,95548,95548,95548,95548,95548,95548,95548,95548,95548
29,200529,200529,200529,200529,200529,200529,200529,200529,200529,200529,200529,200529,200529,200529,200529,200529,200529,200529,200529
30,213796,213796,213796,213796,213796,213796,213796,213796,213796,213796,213796,213796,213796,213796,213796,213796,213796,213796,213796
31,178753,178753,178753,178753,178753,178753,178753,178753,178753,178753,178753,178753,178753,178753,178753,178753,178753,178753,178753
31-34,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473
32,187159,187159,187159,187159,187159,187159,187159,187159,187159,187159,187159,187159,187159,187159,187159,187159,187159,187159,187159
33,237139,237139,237139,237139,237139,237139,237139,237139,237139,237139,237139,237139,237139,237139,237139,237139,237139,237139,237139
34,265539,265539,265539,265539,265539,265539,265539,265539,265539,265539,265539,265539,265539,265539,265539,265539,265539,265539,265539
35,318586,318586,318586,318586,318586,318586,318586,318586,318586,318586,318586,318586,318586,318586,318586,318586,318586,318586,318586
35-38,919,919,919,919,919,919,919,919,919,919,919,919,919,919,919,919,919,919,919
36,183009,183009,183009,183009,183009,183009,183009,183009,183009,183009,183009,183009,183009,183009,183009,183009,183009,183009,183009
37,46078,46078,46078,46078,46078,46078,46078,46078,46078,46078,46078,46078,46078,46078,46078,46078,46078,46078,46078
38,132035,132035,132035,132035,132035,132035,132035,132035,132035,132035,132035,132035,132035,132035,132035,132035,132035,132035,132035
39,86920,86920,86920,86920,86920,86920,86920,86920,86920,86920,86920,86920,86920,86920,86920,86920,86920,86920,86920
39-99,1190,1190,1190,1190,1190,1190,1190,1190,1190,1190,1190,1190,1190,1190,1190,1190,1190,1190,1190
40,264089,264089,264089,264089,264089,264089,264089,264089,264089,264089,264089,264089,264089,264089,264089,264089,264089,264089,264089
41,41610,41610,41610,41610,41610,41610,41610,41610,41610,41610,41610,41610,41610,41610,41610,41610,41610,41610,41610
43,283551,283551,283551,283551,283551,283551,283551,283551,283551,283551,283551,283551,283551,283551,283551,283551,283551,283551,283551
99,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14

In [9]:
def SCTG_IND(SCTG):
    if SCTG in ('01', '01-05', '02', '03', '04', '05'):
        return 'AGRI'
    elif SCTG in ('06', '06-09', '07','08', '09'):
        return 'FOOD'
    elif SCTG in ('10', '10-14', '11', '12', '13', '14'): 
        return 'MNRLS'
    elif SCTG in ('15', '15-19','17', '18', '19'):
        return 'FUEL'
    elif SCTG in ('20', '20-24', '21', '22', '23', '24'):
        return 'PLCHM'
    elif SCTG in ('25','25-30', '26', '27', '28', '29', '30'):
        return 'FRPAP'
    elif SCTG in ('31', '31-34', '32', '33', '34'):
        return 'BMETL'
    elif SCTG in ('35', '35-38', '36', '37', '38'):
        return 'TRANS'
    elif SCTG in ('41'):
        return 'WASTE'
    elif SCTG in ('39','40','43','99','39-99'):
        return 'MISC'
    elif SCTG in ('00'):
        return ' '

In [10]:
dataset['SCTG']=dataset['SCTG'].apply(SCTG_IND)

In [11]:
#Checking unique values of column 
dataset['SCTG'].unique()

array(['TRANS', 'FRPAP', 'BMETL', 'MISC', 'PLCHM', 'AGRI', 'FUEL',
       'MNRLS', 'FOOD', 'WASTE', ' '], dtype=object)

In [12]:
print (dataset['SCTG'])
print (dataset['SCTG'].isnull())

0          TRANS
1          TRANS
2          FRPAP
3          FRPAP
4          BMETL
           ...
4547656    FRPAP
4547657     AGRI
4547658    TRANS
4547659    BMETL
4547660    PLCHM
Name: SCTG, Length: 4547661, dtype: object
0          False
1          False
2          False
3          False
4          False
           ...
4547656    False
4547657    False
4547658    False
4547659    False
4547660    False
Name: SCTG, Length: 4547661, dtype: bool

In [13]:
print (dataset['SCTG'].isnull().sum())

0

In [14]:
print(dataset.isnull().sum()) #count of missing value in each column

SHIPMT_ID             0
ORIG_STATE            0
ORIG_MA               0
ORIG_CFS_AREA         0
DEST_STATE            0
DEST_MA               0
DEST_CFS_AREA         0
NAICS                 0
QUARTER               0
SCTG                  0
MODE                  0
SHIPMT_VALUE          0
SHIPMT_WGHT           0
SHIPMT_DIST_GC        0
SHIPMT_DIST_ROUTED    0
TEMP_CNTL_YN          0
EXPORT_YN             0
EXPORT_CNTRY          0
HAZMAT                0
WGT_FACTOR            0
dtype: int64

In [15]:
dataset.sort_values('SCTG')['SCTG'].unique()

array([' ', 'AGRI', 'BMETL', 'FOOD', 'FRPAP', 'FUEL', 'MISC', 'MNRLS',
       'PLCHM', 'TRANS', 'WASTE'], dtype=object)

In [16]:
dataset.sort_values('ORIG_STATE')['ORIG_STATE'].unique()

array(['0', '1', '10', '11', '12', '13', '15', '16', '17', '18', '19',
       '2', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29',
       '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '4',
       '40', '41', '42', '44', '45', '46', '47', '48', '49', '5', '50',
       '51', '53', '54', '55', '56', '6', '8', '9'], dtype=object)

In [17]:
dataset.sort_values('ORIG_MA')['ORIG_MA'].unique()

array(['0', '104', '122', '12420', '12580', '12940', '13140', '142',
       '148', '160', '16700', '172', '176', '178', '184', '198', '204',
       '206', '212', '216', '220', '238', '25540', '258', '260', '266',
       '268', '273', '288', '29340', '294', '29700', '300', '312', '314',
       '332', '348', '350', '368', '370', '376', '378', '380', '38060',
       '400', '40060', '406', '408', '416', '41700', '41740', '420',
       '422', '428', '430', '440', '450', '45300', '464', '46520', '472',
       '476', '47900', '482', '488', '496', '500', '536', '538', '545',
       '556', '99999'], dtype=object)

In [18]:
dataset.sort_values('DEST_STATE')['DEST_STATE'].unique()

array(['1', '10', '11', '12', '13', '15', '16', '17', '18', '19', '2',
       '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30',
       '31', '32', '33', '34', '35', '36', '37', '38', '39', '4', '40',
       '41', '42', '44', '45', '46', '47', '48', '49', '5', '50', '51',
       '53', '54', '55', '56', '6', '8', '9'], dtype=object)

In [19]:
dataset.sort_values('DEST_MA')['DEST_MA'].unique()

array(['104', '122', '12420', '12580', '12940', '13140', '142', '148',
       '160', '16700', '172', '176', '178', '184', '198', '204', '206',
       '212', '216', '220', '238', '25540', '258', '260', '266', '268',
       '273', '288', '29340', '294', '29700', '300', '312', '314', '332',
       '348', '350', '368', '370', '376', '378', '380', '38060', '400',
       '40060', '406', '408', '416', '41700', '41740', '420', '422',
       '428', '430', '440', '450', '45300', '464', '46520', '472', '476',
       '47900', '482', '488', '496', '500', '536', '538', '545', '556',
       '99999'], dtype=object)

In [20]:
dataset.sort_values('NAICS')['NAICS'].unique()

array(['212', '311', '312', '313', '314', '315', '316', '321', '322',
       '323', '324', '325', '326', '327', '331', '332', '333', '334',
       '335', '336', '337', '339', '4231', '4232', '4233', '4234', '4235',
       '4236', '4237', '4238', '4239', '4241', '4242', '4243', '4244',
       '4245', '4246', '4247', '4248', '4249', '4541', '45431', '4931',
       '5111', '551114'], dtype=object)

In [21]:
dataset.sort_values('QUARTER')['QUARTER'].unique()

array(['1', '2', '3', '4'], dtype=object)

In [22]:
dataset.sort_values('MODE')['MODE'].unique()

array(['0', '10', '101', '11', '12', '13', '14', '15', '16', '17', '18',
       '19', '2', '20', '3', '4', '5', '6', '7', '8', '9'], dtype=object)

In [23]:
dataset.sort_values('SHIPMT_VALUE')['SHIPMT_VALUE'].unique()

array([        1,         2,         3, ..., 158525900, 250000000,
       521277800], dtype=int64)

In [24]:
dataset.sort_values('SHIPMT_WGHT')['SHIPMT_WGHT'].unique()

array([        1,         2,         3, ..., 215926090, 231943870,
       277029600], dtype=int64)

In [25]:
dataset.sort_values('SHIPMT_DIST_GC')['SHIPMT_DIST_GC'].unique()

array([   1,    2,    3, ..., 5155, 5174, 5210], dtype=int64)

In [26]:
dataset.sort_values('SHIPMT_DIST_ROUTED')['SHIPMT_DIST_ROUTED'].unique()

array([   1,    2,    3, ..., 6794, 6857, 6932], dtype=int64)

In [27]:
dataset.sort_values('TEMP_CNTL_YN')['TEMP_CNTL_YN'].unique()

array(['N', 'Y'], dtype=object)

In [28]:
dataset.sort_values('EXPORT_YN')['EXPORT_YN'].unique()

array(['N', 'Y'], dtype=object)

In [29]:
dataset.sort_values('EXPORT_CNTRY')['EXPORT_CNTRY'].unique()

array(['C', 'M', 'N', 'O'], dtype=object)

In [30]:
dataset.sort_values('HAZMAT')['HAZMAT'].unique()

array(['H', 'N', 'P'], dtype=object)

In [31]:
dataset.sort_values('WGT_FACTOR')['WGT_FACTOR'].unique()

array([2.000000e-01, 3.000000e-01, 4.000000e-01, ..., 4.948481e+05,
       4.973153e+05, 9.750000e+05])

In [36]:
dataset.WGT_FACTOR= dataset.WGT_FACTOR.astype(int)

In [37]:
dataset.sort_values('WGT_FACTOR')['WGT_FACTOR'].unique()

array([     0,      1,      2, ..., 494848, 497315, 975000])

In [38]:
dataset['EXPORT_CNTRY'].value_counts()

N    4361940
O     111815
C      54539
M      19367
Name: EXPORT_CNTRY, dtype: int64

In [43]:
Freq = dataset.ORIG_STATE.value_counts()['0']
print(Freq)

38

In [44]:
Freq = dataset.ORIG_MA.value_counts()['104']
print(Freq)

21193

In [45]:
Freq = dataset.DEST_MA.value_counts()['104']
print(Freq)

18188

In [48]:
Freq = dataset.SCTG.value_counts()[' ']
print(Freq)

691

In [52]:
Freq = dataset.MODE.value_counts()['0']
print(Freq)

691

In [53]:
Freq = dataset.EXPORT_CNTRY.value_counts()['N']
print(Freq)

4361940

In [54]:
# Create a DataFrame object
empDfObj = pd.DataFrame(empoyees, columns=['Name', 'Age', 'City', 'Experience'])
#Drop rows which contains any NaN or missing value
modDf = empDfObj.dropna()
print("Contents of the Modified Dataframe : ")
print(modDf)
#Drop rows which contains any NaN or missing value
modDf = empDfObj.dropna(how='any')
# Drop rows with NaN or missing value in all columns
modDf = empDfObj.dropna(how='all')

NameError: name 'self' is not defined

In [ ]:
df.drop(df[df['Age'] < 25].index, inplace = True)

In [ ]:
all are consistent