In [1]:
# importing all required libraries
import numpy as np # used for handling numbers
import pandas as pd # used for handling the dataset
from sklearn.impute import SimpleImputer # used for handling missing data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder # used for encoding categorical data
from sklearn.model_selection import train_test_split # used for splitting training and testing data
from sklearn.preprocessing import StandardScaler # used for feature scaling
import os
from statistics import mode

In [2]:
# Read CSV File from Data Folder
filename = "cfs_pumf.txt"

# check if data is in current folder. If not, go one step back 
if "data" in os.listdir():
    print("Found data folder")
else:
    os.chdir("../")
    
try:
    dataset = pd.read_csv(f'{os.getcwd()}\\data\\{filename}') 
    print("Dataset is loaded")
except IOError:
    print(f'Could not find the data file {filename}')

Dataset is uploaded

In [3]:
# Analyze first and last 10 rows
display("First 10 observations", dataset.head(10))
display("Last 10 observations", dataset.tail(10))

'First 10 observations'

,SHIPMT_ID,ORIG_STATE,ORIG_MA,ORIG_CFS_AREA,DEST_STATE,DEST_MA,DEST_CFS_AREA,NAICS,QUARTER,SCTG,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_GC,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,EXPORT_YN,EXPORT_CNTRY,HAZMAT,WGT_FACTOR
0,1,25,148,25-148,25,148,25-148,333,2,35,14,2178,11,14,17,N,N,N,N,208.5
1,2,42,428,42-428,6,41740,06-41740,311,3,35,14,344,11,2344,2734,N,N,N,N,193.3
2,3,26,220,26-220,47,314,47-314,322,2,27,4,4197,5134,470,579,N,N,N,N,51.2
3,4,20,556,20-556,20,556,20-556,323,1,29,4,116,6,3,3,N,N,N,N,238.7
4,5,12,99999,12-99999,12,99999,12-99999,4235,3,33,5,388,527,124,201,N,N,N,N,398.1
5,6,24,47900,24-47900,30,99999,30-99999,337,2,40,4,3716,1132,1942,2265,N,Y,C,N,21.9
6,7,19,99999,19-99999,19,99999,19-99999,337,3,26,5,43738,13501,16,22,N,N,N,N,310.5
7,8,6,41740,06-41740,6,99999,06-99999,4239,1,40,14,77,4,272,306,N,N,N,N,138.5
8,9,19,99999,19-99999,19,99999,19-99999,327,3,31,5,338,12826,10,15,N,N,N,N,2695.9
9,10,13,99999,13-99999,13,99999,13-99999,4237,2,34,5,145,22,21,28,N,N,N,N,489.1

'Last 10 observations'

,SHIPMT_ID,ORIG_STATE,ORIG_MA,ORIG_CFS_AREA,DEST_STATE,DEST_MA,DEST_CFS_AREA,NAICS,QUARTER,SCTG,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_GC,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,EXPORT_YN,EXPORT_CNTRY,HAZMAT,WGT_FACTOR
4547651,4547652,39,99999,39-99999,39,99999,39-99999,323,2,29,4,247,62,20,29,N,N,N,N,129.5
4547652,4547653,51,40060,51-40060,37,450,37-450,321,3,26,5,3371,26250,158,173,N,N,N,N,280.8
4547653,4547654,19,99999,19-99999,17,99999,17-99999,4234,3,21,5,23587,4718,172,182,N,N,N,N,175.3
4547654,4547655,12,422,12-422,29,99999,29-99999,332,3,33,4,6804,1201,886,1216,N,N,N,N,63.0
4547655,4547656,48,206,48-206,48,206,48-206,4237,3,33,5,1820,38,3,5,N,N,N,N,1679.3
4547656,4547657,9,408,09-408,34,408,34-408,323,4,29,14,7988,133,122,152,N,N,N,N,260.6
4547657,4547658,39,178,39-178,28,99999,28-99999,311,3,05,4,50808,29887,561,683,Y,N,N,N,20.0
4547658,4547659,36,408,36-408,36,408,36-408,336,4,36,5,685,137,13,16,N,N,N,N,164.3
4547659,4547660,48,12420,48-12420,48,12420,48-12420,4233,3,33,5,915,1240,20,22,N,N,N,N,1059.9
4547660,4547661,30,99999,30-99999,30,99999,30-99999,325,1,23,4,22482,75952,12,12,N,N,N,N,66.1

In [4]:
# Setting Shipment Id as the index for the dataset
dataset.set_index('SHIPMT_ID',inplace=True)

In [6]:
# Removing ORIG_CFS_AREA and DEST_CFS_AREA as these columsn are derived from

In [37]:
# Analyze the datatype of all the variables and convert to appropriate one
dataset.dtypes.to_dict()

{'SHIPMT_ID': dtype('int64'),
 'ORIG_STATE': dtype('int64'),
 'ORIG_MA': dtype('int64'),
 'ORIG_CFS_AREA': dtype('O'),
 'DEST_STATE': dtype('int64'),
 'DEST_MA': dtype('int64'),
 'DEST_CFS_AREA': dtype('O'),
 'NAICS': dtype('int64'),
 'QUARTER': dtype('int64'),
 'SCTG': dtype('O'),
 'MODE': dtype('int64'),
 'SHIPMT_VALUE': dtype('int64'),
 'SHIPMT_WGHT': dtype('int64'),
 'SHIPMT_DIST_GC': dtype('int64'),
 'SHIPMT_DIST_ROUTED': dtype('int64'),
 'TEMP_CNTL_YN': dtype('O'),
 'EXPORT_YN': dtype('O'),
 'EXPORT_CNTRY': dtype('O'),
 'HAZMAT': dtype('O'),
 'WGT_FACTOR': dtype('float64')}

In [39]:
#Convert datatype of below variables to appropriate one
dataset.ORIG_STATE = dataset.ORIG_STATE.astype(str)
dataset.ORIG_MA = dataset.ORIG_MA.astype(str)
dataset.DEST_STATE = dataset.DEST_STATE.astype(str)
dataset.DEST_MA = dataset.DEST_MA.astype(str)
dataset.NAICS = dataset.NAICS.astype(str)
dataset.MODE = dataset.MODE.astype(str)

# Verify dataset again
dataset.dtypes.to_dict()

{'SHIPMT_ID': dtype('int64'),
 'ORIG_STATE': dtype('O'),
 'ORIG_MA': dtype('O'),
 'ORIG_CFS_AREA': dtype('O'),
 'DEST_STATE': dtype('O'),
 'DEST_MA': dtype('O'),
 'DEST_CFS_AREA': dtype('O'),
 'NAICS': dtype('O'),
 'QUARTER': dtype('int64'),
 'SCTG': dtype('O'),
 'MODE': dtype('O'),
 'SHIPMT_VALUE': dtype('int64'),
 'SHIPMT_WGHT': dtype('int64'),
 'SHIPMT_DIST_GC': dtype('int64'),
 'SHIPMT_DIST_ROUTED': dtype('int64'),
 'TEMP_CNTL_YN': dtype('O'),
 'EXPORT_YN': dtype('O'),
 'EXPORT_CNTRY': dtype('O'),
 'HAZMAT': dtype('O'),
 'WGT_FACTOR': dtype('float64')}

In [62]:
#Create and Analyze Cross table for categorical variables
for col in dataset.columns:
    if str(dataset[col].dtype) in ["str", "object"]:
        print(f'{col :30s}: \n>>>>      {dataset[col].unique()}')

ORIG_STATE                    :
>>>>      ['25' '42' '26' '20' '12' '24' '19' '6' '13' '55' '39' '33' '31' '54' '32'
 '9' '17' '37' '48' '18' '29' '49' '36' '27' '53' '47' '34' '5' '38' '56'
 '1' '51' '23' '45' '8' '35' '4' '21' '28' '41' '44' '2' '16' '40' '46'
 '22' '15' '30' '10' '50' '11' '0']
ORIG_MA                       :
>>>>      ['148' '428' '220' '556' '99999' '47900' '41740' '184' '332' '408' '450'
 '172' '176' '348' '476' '482' '122' '104' '378' '370' '41700' '440' '400'
 '368' '420' '206' '268' '545' '312' '376' '40060' '142' '216' '25540'
 '38060' '350' '430' '266' '294' '178' '300' '488' '0' '472' '238' '416'
 '260' '288' '212' '273' '12940' '536' '500' '160' '464' '198' '45300'
 '538' '406' '46520' '12580' '258' '380' '422' '314' '12420' '496' '29340'
 '13140' '16700' '29700' '204']
ORIG_CFS_AREA                 :
>>>>      ['25-148' '42-428' '26-220' '20-556' '12-99999' '24-47900' '19-99999'
 '06-41740' '13-99999' '55-99999' '39-184' '33-148' '31-99999' '26-99999'
 '39-99999' '54-99999' '32-332' '09-408' '17-99999' '37-450' '37-172'
 '48-99999' '18-176' '06-348' '06-99999' '29-476' '49-482' '13-122'
 '42-99999' '36-104' '29-99999' '27-378' '17-176' '12-370' '48-41700'
 '53-440' '36-408' '47-400' '47-368' '18-99999' '34-428' '31-420'
 '05-99999' '48-206' '37-268' '32-99999' '38-99999' '56-99999' '01-99999'
 '51-545' '29-312' '55-376' '23-99999' '45-99999' '51-40060' '01-142'
 '08-216' '51-99999' '35-99999' '42-408' '09-25540' '04-38060' '36-99999'
 '27-99999' '21-350' '33-99999' '42-430' '20-312' '26-266' '18-294'
 '21-178' '20-99999' '12-300' '06-488' '28-99999' '39-00000' '47-99999'
 '41-440' '06-472' '48-238' '44-148' '02-99999' '16-99999' '40-416'
 '53-99999' '34-408' '21-99999' '51-47900' '39-178' '04-99999' '06-260'
 '48-288' '46-99999' '39-212' '45-273' '22-12940' '41-99999' '17-476'
 '15-99999' '30-99999' '08-99999' '04-536' '37-99999' '53-500' '36-160'
 '36-464' '39-198' '24-99999' '12-45300' '40-538' '22-99999' '22-406'
 '15-46520' '10-99999' '24-12580' '18-258' '49-99999' '01-380' '12-422'
 '09-99999' '47-314' '40-99999' '48-12420' '13-496' '25-99999' '41-00000'
 '22-29340' '48-13140' '45-16700' '42-00000' '10-428' '48-29700'
 '50-99999' '48-00000' '48-204' '53-00000' '24-00000' '11-47900'
 '18-00000' '51-00000' '27-00000' '17-00000' '47-00000' '20-00000'
 '15-00000' '26-00000' '29-00000' '09-00000' '06-00000' '55-00000'
 '00-00000' '45-00000' '40-00000' '12-00000' '13-00000' '36-00000'
 '49-00000' '31-00000' '34-00000' '25-00000' '10-00000' '04-00000'
 '22-00000' '32-00000' '33-00000' '01-00000' '37-00000' '08-00000'
 '21-00000']
DEST_STATE                    :
>>>>      ['25' '6' '47' '20' '12' '30' '19' '13' '36' '42' '34' '31' '27' '39' '51'
 '48' '37' '55' '17' '49' '44' '18' '29' '1' '26' '9' '54' '32' '38' '40'
 '23' '45' '28' '8' '56' '4' '53' '21' '24' '33' '41' '2' '5' '22' '46'
 '16' '15' '35' '50' '10' '11']
DEST_MA                       :
>>>>      ['148' '41740' '314' '556' '99999' '464' '408' '198' '288' '400' '184'
 '268' '122' '312' '482' '176' '104' '378' '545' '376' '370' '41700' '220'
 '420' '206' '348' '178' '416' '273' '216' '238' '40060' '38060' '212'
 '500' '450' '430' '428' '294' '47900' '536' '172' '488' '476' '440' '472'
 '160' '16700' '25540' '12940' '204' '368' '258' '12580' '142' '45300'
 '422' '538' '350' '12420' '300' '260' '406' '29340' '332' '46520' '29700'
 '496' '266' '380' '13140']
DEST_CFS_AREA                 :
>>>>      ['25-148' '06-41740' '47-314' '20-556' '12-99999' '30-99999' '19-99999'
 '06-99999' '13-99999' '36-464' '42-99999' '34-408' '31-99999' '27-99999'
 '39-198' '51-99999' '48-288' '47-400' '39-184' '37-268' '48-99999'
 '55-99999' '13-122' '20-99999' '20-312' '17-99999' '49-482' '44-148'
 '18-176' '36-104' '29-99999' '27-378' '01-99999' '51-545' '55-376'
 '12-370' '48-41700' '26-99999' '26-220' '09-408' '31-420' '36-99999'
 '48-206' '54-99999' '32-99999' '38-99999' '06-348' '39-178' '40-416'
 '29-312' '17-176' '23-99999' '45-99999' '28-99999' '45-273' '08-216'
 '56-99999' '48-238' '42-408' '51-40060' '04-38060' '39-212' '53-500'
 '37-450' '42-430' '21-99999' '34-428' '18-294' '51-47900' '47-99999'
 '04-536' '37-172' '06-488' '29-476' '24-99999' '33-99999' '41-440'
 '06-472' '02-99999' '53-99999' '36-160' '05-99999' '22-99999' '39-99999'
 '42-428' '18-99999' '46-99999' '45-16700' '36-408' '16-99999' '09-25540'
 '22-12940' '48-204' '17-476' '15-99999' '08-99999' '04-99999' '33-148'
 '35-99999' '47-368' '37-99999' '18-258' '24-12580' '01-142' '12-45300'
 '12-422' '40-538' '21-350' '48-12420' '12-300' '21-178' '41-99999'
 '06-260' '50-99999' '10-99999' '40-99999' '53-440' '22-406' '22-29340'
 '32-332' '15-46520' '09-99999' '25-99999' '48-29700' '13-496' '26-266'
 '01-380' '24-47900' '49-99999' '10-428' '11-47900' '48-13140']
NAICS                         :
>>>>      ['333' '311' '322' '323' '4235' '337' '4239' '327' '4237' '325' '4234'
 '332' '339' '321' '4232' '334' '315' '4241' '4244' '326' '45431' '4238'
 '212' '331' '4247' '335' '5111' '336' '4931' '312' '4236' '4248' '4233'
 '4249' '314' '324' '4541' '4245' '4246' '4243' '4231' '4242' '313'
 '551114' '316']
SCTG                          :
>>>>      ['35' '27' '29' '33' '40' '26' '31' '34' '20' '21' '04' '36' '25' '30'
 '24' '32' '39' '05' '28' '03' '19' '12' '23' '17' '43' '38' '06' '41'
 '08' '07' '02' '18' '37' '22' '15' '11' '13' '09' '14' '10' '01' '00'
 '99']
MODE                          :
>>>>      ['14' '4' '5' '6' '11' '2' '12' '15' '13' '8' '16' '20' '10' '0' '3' '17'
 '19' '7' '18' '9' '101']
TEMP_CNTL_YN                  :
>>>>      ['N' 'Y']
EXPORT_YN                     :
>>>>      ['N' 'Y']
EXPORT_CNTRY                  :
>>>>      ['N' 'C' 'O' 'M']
HAZMAT                        :
>>>>      ['N' 'H' 'P']

In [7]:
# SCTG should be of type int64 but found as Object. Lets see why
SCTG_table = pd.crosstab(index=dataset["SCTG"], # Make a crosstab
                     columns="Count")               # Name the count column
SCTG_table

col_0   Count
SCTG
00        691
01       2239
01-05    1458
02      24965
03      54265
04      45617
05      62355
06      53265
06-09    1267
07     183021
08      98947
09      16864
10       5883
10-14    1437
11      29142
12      94363
13      16795
14       4211
15      11002
15-19     856
17      38588
18      60218
19     133849
20      96474
20-24    1888
21      85890
22      24300
23     141016
24     288078
25       4966
25-30    1854
26     161961
27      61999
28      95548
29     200529
30     213796
31     178753
31-34    1473
32     187159
33     237139
34     265539
35     318586
35-38     919
36     183009
37      46078
38     132035
39      86920
39-99    1190
40     264089
41      41610
43     283551
99         14

In [ ]:
# Check the distribution

In [6]:
# 
# SCTG should be of type int64 but found as Object. Lets see why
SCTG_table = pd.crosstab(index=dataset["SCTG"], # Make a crosstab
                     columns="Count")               # Name the count column
SCTG_table

# After the analysis, We found that SCTG also contains SCTG_Group values. We need to noramilize them
# Team Decided to replace the SCTG_Group with Mode from the value between the values. For example:
# One Group "01-05" has values from has entities from 01 to 05. We calculated the mode and found 05 is appread most
# of the time and relaced the group with 05

SCTG_unique_values = dataset.groupby('SCTG')['SHIPMT_ID'].nunique()
SCTG_Group = [key for key in SCTG_unique_values.keys() if "-" in key]
for each_group in SCTG_Group:
    num_group = list(map(int, each_group.split("-")));
    range_group = list(range(num_group[0], num_group[1]+1))
    str_group = [str(key).zfill(2) for key in range_group]
    mode_SCTG_group = mode(dataset[dataset["SCTG"].isin(str_group)]["SCTG"])
    print(mode_SCTG_group, each_group)
    dataset["SCTG"].replace(to_replace=each_group, value=mode_SCTG_group, inplace=True)

EXPORT_CNTRY
C      54539
M      19367
N    4361940
O     111815
Name: SHIPMT_ID, dtype: int64

In [36]:
# As per the data dictonary, EXPORT_CNTRY should have only tree values, C = Canada, M = Mexico, O = Other, but found one
# more category. Need to analyze it.
EXPORT_CNTRY_table = pd.crosstab(index=dataset["EXPORT_CNTRY"], # Make a crosstab
                     columns="Count")               # Name the count column
EXPORT_CNTRY_table

col_0           Count
EXPORT_CNTRY
C               54539
M               19367
N             4361940
O              111815

In [8]:
# Analyze the datatype of all the variables and convert to appropriate one
dataset.dtypes.to_dict()

{'SHIPMT_ID': dtype('int64'),
 'ORIG_STATE': dtype('O'),
 'ORIG_MA': dtype('O'),
 'ORIG_CFS_AREA': dtype('O'),
 'DEST_STATE': dtype('O'),
 'DEST_MA': dtype('O'),
 'DEST_CFS_AREA': dtype('O'),
 'NAICS': dtype('O'),
 'QUARTER': dtype('int64'),
 'SCTG': dtype('O'),
 'MODE': dtype('O'),
 'SHIPMT_VALUE': dtype('int64'),
 'SHIPMT_WGHT': dtype('int64'),
 'SHIPMT_DIST_GC': dtype('int64'),
 'SHIPMT_DIST_ROUTED': dtype('int64'),
 'TEMP_CNTL_YN': dtype('O'),
 'EXPORT_YN': dtype('O'),
 'EXPORT_CNTRY': dtype('O'),
 'HAZMAT': dtype('O'),
 'WGT_FACTOR': dtype('float64')}

In [ ]:
def splitDataset(dataset, splitRatio):    
    trainSize = int(len(dataset) * splitRatio)
    trainSet = []
    copy = list(dataset)
    while(len(trainSet) < trainSize):
        index = random.randrage(len(copy))
        trainSet.append(copy.pop(index))
    return [trainSet, copy]

05 01-05
07 06-09
12 10-14
19 15-19
24 20-24
30 25-30
34 31-34
35 35-38
43 39-99

In [5]:
my_tab = pd.crosstab(index=dataset["ORIG_CFS_AREA"],  # Make a crosstab
                              columns="count")      # Name the count column

my_tab

col_0          count
ORIG_CFS_AREA
00-00000          38
01-00000         240
01-142         28777
01-380         15289
01-99999       40083
...              ...
54-99999       32003
55-00000         215
55-376         49327
55-99999       88185
56-99999       15868

[169 rows x 1 columns]